@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

@keyframes grow {
    from { transform: scale(0);}
    to   { transform: scale(1);}
}

body { margin: 0; padding: 0; }
.leaflet-tile { filter: grayscale(100%); }
.leaflet-container { font-family: Oswald; font-weight: 300; font-size: 16px; cursor: crosshair; }
.leaflet-marker-icon__label { display: none ; position: absolute; background: rgba(0,0,0,.75); color: white; top: -50px; padding: 4px; text-transform: uppercase;}
.leaflet-marker-icon:hover .leaflet-marker-icon__label { display: block; }
.leaflet-svg { filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5)); opacity: .85; animation-name: grow; animation-duration: 1s; animation-timing-function: ease-in-out;}
.leaflet-bar, .leaflet-bar a { border-radius: 0 !important; box-shadow: none; color: white !important; background: #222 }
.leaflet-pie-dataset-legend { width: 528px; background-color: white; padding: 24px 24px 48px; }
.leaflet-pie-dataset-legend__title { text-decoration: underline; text-transform: uppercase; line-height: 1.1 }
.leaflet-pie-dataset-legend__description:first-line { text-transform: uppercase; }
.leaflet-pie-dataset-legend__description:before { content: "€"; float: left; font-size: 2em; color: #F2075D; margin-right: 24px;}
.leaflet-pie-dataset-legend__source { text-transform: uppercase; font-size: .8em; border-top: 1px dashed rgba(0,0,0,.75); text-align: center; padding-top: 12px }
.leaflet-pie-dataset-legend__legend-item { list-style: none; text-transform: uppercase}
.leaflet-pie-dataset-legend__legend-item .icon { font-size: 24px; line-height: 24px; margin-right: 8px; }
